%section#hero-container
  #hero
    #hero-content
      %h1.xtralrg hello!
      %p 
        I’m Amber Aultman, an experience designer in Jacksonville, FL. I’m happily employed at 
        %a{:title => "", :href => ""}Ignite
        where I’m helping to create products that shape the way we work. I take on a bit of freelance work here and there and I’m loving my new role as Communications Director for 
        %a{:title => "", :href => ""}AIGA Jacksonville.

%section#timeline
  #timeline-container.js-masonry{"data-masonry-options" => "{ \"columnWidth\": 400, \"itemSelector\": \".item\", \"isFitWidth\": true, \"gutter\": 20 }"}
    .item.dribbble
      = image_tag "icon-dribbble.svg", :class => "item-icon"
      = image_tag "http://placehold.it/400x300", :class => "item-photo"
    .item.about
      = image_tag "icon-about.svg", :class => "item-icon"
      = image_tag "http://placehold.it/400x300", :class => "item-photo"
    .item.dribbble
      = image_tag "icon-dribbble.svg", :class => "item-icon"
      = image_tag "http://placehold.it/400x300", :class => "item-photo"
    .item.work
      = image_tag "icon-work.svg", :class => "item-icon"
      = image_tag "view-project.svg", :class => "more"
      = image_tag "http://placehold.it/1240x800"
    .item.about
      = image_tag "icon-about.svg", :class => "item-icon"
      = image_tag "http://placehold.it/400x300", :class => "item-photo"
    .item.writing
      = image_tag "icon-writing.svg", :class => "item-icon"
      %a{:title => "", :href => "styleprototypes"}
        = image_tag "read-article.svg", :class => "more"
      %h1.blog
        Style Prototypes:
      %h2.blog
        A Happy Medium




