%section#hero-container
  #hero
    #hero-content
      %h1.xtralrg hello!
      %p 
        I’m Amber Aultman, an experience designer in Jacksonville, FL. I’m happily employed at 
        %a{:title => "", :href => ""}Ignite
        where I’m helping to create products that shape the way we work. I take on a bit of freelance work here and there and I’m loving my new role as Communications Director for 
        %a{:title => "", :href => ""}AIGA Jacksonville.

%section#timeline
  #timeline-container.js-masonry{"data-masonry-options" => "{ \"columnWidth\": 400, \"itemSelector\": \".item\", \"isFitWidth\": true, \"gutter\": 20 }"}
    .item
      = image_tag "http://placehold.it/400x300", :class => "item-photo"
      / = image_tag "icon-dribbble.png", :class => "item-icon"
    .item
      = image_tag "http://placehold.it/400x300"
    .item
      = image_tag "http://placehold.it/400x300"
    .item
      = image_tag "http://placehold.it/1240x800"
    .item
      = image_tag "http://placehold.it/400x300"
    .item
      = image_tag "http://placehold.it/1240x800"




